@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; // fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 12 ){
	line-height: $heightValue + px; // fallback for old browsers
	line-height: (0.125 * $heightValue) + rem;
}


$main-typeface: 'Montserrat', sans-serif;
$secondary-typeface: 'Open Sans', sans-serif;

$main-background: #a2b567;

h1 {
  font-family: $main-typeface;
  text-transform: uppercase;
  @include font-size(30);
}

h2, h3, h4 {
  font-family: $secondary-typeface;
  font-weight: 300;
}

h2 {
  @include font-size(20);
}

h3 {
  @include font-size(15);
}

h4 {
  @include font-size(10);
}

p {
  color: #042E04;
}

.image {
  position: relative;
  width: 100% /* for IE 6 */
}
  .image h1 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100;
  }
.position-title{
  @include font-size(25);
  font-weight: 200;
}

p {
  @include font-size(12);
  @include line-height (16);
}

.section .portfolio-section, .skills-section, .contact-section {
  margin-top: 40px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}

.about .heading {
  text-transform: uppercase;
}

.subheading {
  text-align: center;
  font-weight: 300;
}

.about-section .subheading {
  margin-top: -40px;
  color: #e6e4e4;
}

.about-section {
  background: #A2B567;
  padding: 20px;
}
  .about-text {
    margin: 30px;
    text-align: center;
  }
  .about-text p {
    font-weight: 300;
  }

.social-profiles {
  text-align: center;
}
  .social-style {
    font-size: 050px;
    color: #e6e4e4;
    padding: 20px;
  }

.heading {
  text-transform: uppercase;
}

.design-description h3 {
  text-align: center;
}

.text-descrpt {
  margin-top: 20px;
  margin-bottom: 30px;
}


.my-work {
  margin-top: 20px;
}
  .my-work p {
    font-weight: 300;
  }
  .my-work img {
    margin-top: 50px;
  }

.footer {
  margin-top: 40px;
  text-align: center;
}

footer p {
  @include font-size(7);
  color: #B5BAC7;
}
